/* 主题颜色 */
$bg-primary: #00A096;
// $bg-shadow:#1C8273;
$bg-shadow:#9b9999;
$bg-gray: #F0F0F0;
$bg-white: #fff;

/* 文字大小 */
$text-nav: 36rpx;
$text-bold: 28rpx;
// $text-normal: 24rpx;
// $text-mini: 20rpx;
$text-30: 30rpx;
$text-32: 32rpx;

$text-normal: 28rpx;
$text-x: 26rpx;
$text-mini: 24rpx;

/* 字重 */
$weight-bold: 500;
$weight-nav: 400;
$weight-normal: 350;

/* 文字颜色 */
$color-white: #fff;
$color-normal: #333;
$color-light: #666;
